{
    "parser": "@babel/eslint-parser",
    "parserOptions": {
      "requireConfigFile": false
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "rules": {
        "strict": 0,
        "no-console": "warn",
        "quotes": [
            "warn",
            "single"
        ],
        "prettier/prettier": "warn",
        "react/jsx-no-literals": 0
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:jsx-a11y/recommended"
    ],
    "plugins": [
        "react",
        "prettier",
        "jsx-a11y"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
