.blog-post-preview {
  border-bottom: 2px solid #e6e6e6;
  margin-bottom: 1rem;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.blog-tags {
  margin-bottom: 1rem;
  margin-left: 10em;
  text-align: right;
}

h1 > * {
  font-size: 1.2rem;
  text-decoration-line: none;
}

.blog-date {
  font-size: 0.8rem;
  font-weight: 100;
}

.blog-title {
  margin-bottom: 0.2em;
}

.blog-post-content h1 {
  font-size: 1.7rem;
  font-weight: 500;
}

.blog-post-content h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.blog-post-content h3 {
  font-size: 1.3rem;
  font-weight: 300;
}

a i {
  color: #5f9ea0;
  margin-right: 4px;
}

svg {
  background: #f5f5f5;
  border-radius: 8px;
}

mjx-container > svg {
  background: transparent;
}
