li.tag {
    margin: 0px;
}
span.tag {
    background-color: #2d2d2d;
    border: none;
    color: white;
    padding: 8px;
    border-radius: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    margin: 1px 1px;
}
span.tag a {
    color: white;
    text-decoration: none;
}
