li.search-tag {
  margin: 0;
}

span.search-tag {
  background-color: #2d2d2d;
  border: 0;
  border-radius: 16px;
  color: #fff;
  display: inline-block;
  font-size: 0.9em;
  margin: 1px;
  padding: 4px 10px 2px;
  text-align: center;
  text-decoration: none;
}

span.search-tag a {
  color: #fff;
  text-decoration: none;
}

svg.tag {
  background: inherit;
  border-radius: initial;
  color: #b0c4de;
}
